@{
    Layout = null;
}

<link rel="icon" href="~/dash/Images/logo.png" type="image/png">
<link rel="stylesheet" href="~/dash/css/bootstrap1.min.css" />
<link rel="stylesheet" href="~/dash/vendors/themefy_icon/themify-icons.css" />
<link rel="stylesheet" href="~/dash/vendors/swiper_slider/css/swiper.min.css" />
<link rel="stylesheet" href="~/dash/vendors/select2/css/select2.min.css" />
<link rel="stylesheet" href="~/dash/vendors/niceselect/css/nice-select.css" />
<link rel="stylesheet" href="~/dash/vendors/owl_carousel/css/owl.carousel.css" />
<link rel="stylesheet" href="~/dash/vendors/gijgo/gijgo.min.css" />
<link rel="stylesheet" href="~/dash/vendors/font_awesome/css/all.min.css" />
<link rel="stylesheet" href="~/dash/vendors/tagsinput/tagsinput.css" />
<link rel="stylesheet" href="~/dash/vendors/datatable/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="~/dash/vendors/datatable/css/responsive.dataTables.min.css" />
<link rel="stylesheet" href="~/dash/vendors/datatable/css/buttons.dataTables.min.css" />
<link rel="stylesheet" href="~/dash/vendors/text_editor/summernote-bs4.css" />
<link rel="stylesheet" href="~/dash/vendors/morris/morris.css">
<link rel="stylesheet" href="~/dash/vendors/material_icon/material-icons.css" />
<link rel="stylesheet" href="~/dash/css/metisMenu.css">
<link rel="stylesheet" href="~/dash/css/style1.css" />
<link rel="stylesheet" href="~/dash/css/colors/default.css" id="colorSkinCSS">
<div class="col-lg-3"></div>
<div class="col-lg-6" style="margin-left:25%">
    @if (@ViewBag.Flag == 0)
    {
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Something went wrong!</strong> You should check your credentials.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>    
    }
    
    <div class="modal-content cs_modal" style="border:0px">
        <div class="modal-header">
            <img src="~/img/unnamed12.jpeg" style="width: 100%;height: 250px;opacity: 0.4;" />
        </div>
        <div class="modal-body">
            <form method="post" asp-action="Login" asp-controller="Home">

                <div class="">
                    <input type="text" name="Email" class="form-control" placeholder="Enter your email">
                    <input type="text" name="LoginType" hidden value="Admin">
                </div>
                <div class="">
                    <input type="password" name="Password" class="form-control" placeholder="Password">
                </div>
                <input href="#" type="submit" class="btn_1 full_width text-center" style="background-color: #71d171;color: white;height: auto;" value="Log In">

            </form>
        </div>
    </div>
</div>
<div class="col-lg-3"></div>
<script src="~/dash/js/jquery1-3.4.1.min.js"></script>
    <script src="~/dash/js/popper1.min.js"></script>
    <script src="~/dash/js/bootstrap1.min.js"></script>
    <script src="~/dash/js/metisMenu.js"></script>
    <script src="~/dash/vendors/count_up/jquery.waypoints.min.js"></script>
    <script src="~/dash/vendors/chartlist/Chart.min.js"></script>
    <script src="~/dash/vendors/count_up/jquery.counterup.min.js"></script>
    <script src="~/dash/vendors/swiper_slider/js/swiper.min.js"></script>
    <script src="~/dash/vendors/niceselect/js/jquery.nice-select.min.js"></script>
    <script src="~/dash/vendors/owl_carousel/js/owl.carousel.min.js"></script>
    <script src="~/dash/vendors/gijgo/gijgo.min.js"></script>
    <script src="~/dash/vendors/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/dash/vendors/datatable/js/dataTables.responsive.min.js"></script>
    <script src="~/dash/vendors/datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/dash/vendors/datatable/js/buttons.flash.min.js"></script>
    <script src="~/dash/vendors/datatable/js/jszip.min.js"></script>
    <script src="~/dash/vendors/datatable/js/pdfmake.min.js"></script>
    <script src="~/dash/vendors/datatable/js/vfs_fonts.js"></script>
    <script src="~/dash/vendors/datatable/js/buttons.html5.min.js"></script>
    <script src="~/dash/vendors/datatable/js/buttons.print.min.js"></script>
    <script src="~/dash/js/chart.min.js"></script>
    <script src="~/dash/vendors/progressbar/jquery.barfiller.js"></script>
    <script src="~/dash/vendors/tagsinput/tagsinput.js"></script>
    <script src="~/dash/vendors/text_editor/summernote-bs4.js"></script>
    <script src="~/dash/vendors/apex_chart/apexcharts.js"></script>
    <script src="~/dash/js/custom.js"></script>
    <script src="~/dash/js/active_chart.js"></script>
    <script src="~/dash/vendors/apex_chart/radial_active.js"></script>
    <script src="~/dash/vendors/apex_chart/stackbar.js"></script>
    <script src="~/dash/vendors/apex_chart/area_chart.js"></script>
    <script src="~/dash/vendors/apex_chart/bar_active_1.js"></script>
    <script src="~/dash/vendors/chartjs/chartjs_active.js"></script>