@using Merolekando.Common
@{
    Layout = "~/Views/Shared/_WebLayout.cshtml";
    string url = "https://cdn.jsdelivr.net/npm/@aspnet/signalr@1.0.0-rc1-update1/dist/browser/signalr.min.js";
}
<link rel="stylesheet" href="~/css/all.min.css">
<link rel="stylesheet" href="~/css/bootstrap.min.css">
<!--   ALL CSS GOSE HEAR  -->
<!--   ALL CSS GOSE HEAR  -->
<link rel="stylesheet" href="~/css/style.css">
<style>
    .tag {
        float: left;
        position: absolute;
        /*left: 74px;
                    top: 5px;*/
        z-index: 1000;
        background-color: #00000059;
        padding: 5px;
        color: #FFFFFF;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 0px;
        padding-bottom: 0px;
        border-radius: 9px;
        margin-left: 100.5px;
        margin-top: 5px;
    }

    #chat2 .form-control {
        border-color: transparent;
    }

        #chat2 .form-control:focus {
            border-color: transparent;
            box-shadow: inset 0px 0px 0px 1px transparent;
        }

    .divider:after,
    .divider:before {
        content: "";
        flex: 1;
        height: 1px;
        background: #eee;
    }
</style>

<input id="SessionValue" hidden value="@ViewBag.SessionValue" />
<div class="container">
    <div id="ProductsPartials">

        @{
            Html.RenderPartial("_ProductsView");
        }
    </div>
    <div id="load-more"> load more </div>
</div>
<br />





<script src="@url"></script>
<script src="~/dash/js/jquery1-3.4.1.min.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>*@
<script>

    $("#load-more").css({"display":"inline-block",});

        let loadMoreBtn = document.querySelector('#load-more');
        //let currentItem = parseInt($("#currentitemCnt").val(), 32);
        //$(window).scroll = () => {
        loadMoreBtn.onclick = () =>{
            debugger

            var sd = $("#CountProducts").val();
            if(sd != "0" || sd != ""){
                loadMoreBtn.style.display = 'inline-block';
                let boxes = [...document.querySelectorAll('.container .box-container .box')];
                var s = sd - parseInt($("#currentitemCnt").val(), 32);
                if(s < 6)
                {
                    for (var i = parseInt($("#currentitemCnt").val(), 32); i < parseInt($("#currentitemCnt").val(), 32) + s; i++)
                    {
                        debugger
                        boxes[i].style.display = 'inline-block';
                    }
                }else
                {
                    for (var i = parseInt($("#currentitemCnt").val(), 32); i < parseInt($("#currentitemCnt").val(), 32) + 6; i++)
                    {
                        debugger
                        boxes[i].style.display = 'inline-block';
                    }
                }

                if(s < 6)
                {
                    var dd = parseInt($("#currentitemCnt").val(), 32) + s;
                    $("#currentitemCnt").val(dd)
                }
                else
                {
                    var dd = parseInt($("#currentitemCnt").val(), 32) + 6;
                    $("#currentitemCnt").val(dd)
                }

                if(parseInt($("#currentitemCnt").val(), 32) >= boxes.length){
                   loadMoreBtn.style.display = 'none';
                   $("#currentitemCnt").val(6);
                }
            }
        }

        $(document).on("click", "#imgClick", function () {
            var val = $(this).attr("data-target");
            //location.href = '@Url.Action("GetProductDetails", "Home")?id=' + val;

             $.ajax({
                type: 'get',
                url: '@Url.Action("GetProductDetails", "Home")',
                data: { 'id': val },
                success: function (data) {
                    $("#ProductsPartials").html("");
                    $("#ProductsPartials").html(data);
                    debugger
                    $("#load-more").css({"display":"none",});
                },
                error: function (xhr) {
                    alert('error');
                }
            })
        });

        function getToken() {
        debugger
        const xhr = new XMLHttpRequest();
        return new Promise((resolve, reject) => {
            xhr.onreadystatechange = function () {
                if (this.readyState !== 4) return;
                if (this.status == 200) {
                    resolve(this.responseText);
                } else {
                    reject(this.statusText);
                }
            };
            xhr.open("GET", "/Web/Gettoken");
            xhr.send();
        });
    }

    const options = {
        accessTokenFactory: getToken
    };
    var sess = $("#SessionValue").val();
        var connection = new signalR.HubConnectionBuilder()
        .configureLogging(signalR.LogLevel.Debug)
        //.withUrl('https://localhost:44303/Chat', options)
        .withUrl("https://localhost:44303/Chat?token="+sess+"")
        .configureLogging(signalR.LogLevel.Information)
        .build();
    connection.start().then(() => {
    });

    //$('select').selectpicker();
</script>

