@model Merolekiando.Models.Province

<div class="mb-3">
    <label class="form-label" for="exampleFormControlInput1">Name</label>
    <input type="text" name="Name" class="form-control" value="@Model.Name" placeholder="">
    <input type="text" name="Id" class="form-control" value="@Model.Id" id="CateId" hidden>
</div>