@model Merolekiando.Models.UserVerification

<h4> Are you sure to accept this request ! </h4>
<div class="mb-3">
    <input type="text" name="UserId" class="form-control" value="@Model.UserId" hidden>
    <input type="text" name="check" class="form-control" value="1" hidden>
</div>